.jumbotron {
    text-align: center;
    background-color: lightgreen;
}

.card-body a {
    word-break: break-all;
  }
  .articleHeadline {
    line-height: 1.5;
}

#add-train-btn {
    background-color:  #20315A; 
    color: white;
    float: right;
}